# AWS SAM build artifacts
.aws-sam/
*.tmp.*

# AWS CDK stuff
*.swp
.cdk.staging
cdk.out

# SageMaker Experiments/Debugger (if try running locally):
tmp_trainer/

# Working data folders and notebook-built assets:
# (With some specific exclusions)
notebooks/data/*
!notebooks/data/annotations/
notebooks/data/annotations/*
!notebooks/data/annotations/augmentation-*
!notebooks/data/annotations/LICENSE
notebooks/annotation/*.html
!notebooks/annotation/*.tpl.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Checks and reporting
/*report*

# Operating Systems
.DS_Store

# NodeJS
**/node_modules/**
.nvmrc
