# Dummy requirements.txt file not needed with customized containers
# To use the vanilla Hugging Face DLCs for training & inference, uncomment the below:

## Common:
# amazon-textract-response-parser>=0.1,<0.2
# Pillow>=8,<9

## For LayoutLMv2+:
# git+https://github.com/facebookresearch/detectron2.git
# pytesseract

## Libraries present by default in training container but missing from inference:
# datasets>=1.18.4,<2
# torchvision==0.11.3
